.group {
    background-color: var(--compBg);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

h4 {
    margin: 0;
}

.groupFlex {
    display: flex;
    flex-wrap: wrap;
}

.groupInfo {
    flex-basis: 70%;
}

.groupMembers {
    flex-basis: 30%;
}
