/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #6b00ae;
  --primaryBg: #cec9c9dc;
  --compBg: #fff;
  --error: #e7195a;
  --textClr: #333;
}

a, p, h1, h2, h3 {
  color: var(--textClr);
  text-decoration: none;
}

body {
  background: var(--primaryBg);
  margin: 0;
  font-family: "Poppins";
}

/* navbar */
header .nav {
  margin-top: 0;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

header h1:hover, header a:hover {
  color: var(--primary);
  transition: 300ms;
}

header {
  background: var(--compBg)
}

/* pages */
.pages {
  margin: 1rem;
  padding: 1rem;
}

/* excercises */
.create {
  position: absolute;
  right: 30px;
}

input, button {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  border: solid var(--primary) 1px;
  display: block;
}

.exercise-details, .session-details {
  background-color: var(--compBg);
  color: var(--textClr);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;

}

/* sessions */

.sessions {
  display: flex;
  flex-wrap: wrap;
}

.session-details:hover {
  background-color: var(--primary);
  -webkit-text-fill-color: var(--compBg);
  transition: 400ms;
  cursor: pointer;
}

/* button */
.button {
  background-color: var(--primary);
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  width: 156px;
}
.button:hover {
  transform: scale(1.05);
  transition: 300ms;
}
