/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #6b00ae;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color: var(--primary);
  transition: 300ms;
}

header {
  background: #fff;
}

.workouts {
  margin: 2rem;
  padding: 1rem;
}

.create {
  position: absolute;
  right: 30px;
}

input, button {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  border: solid var(--primary) 1px;
  display: block;
}

.exercise-details {
  background-color: #fff;
  border-radius: 2px;
  margin: 1rem;
  padding: 0.5rem;
}

header .nav {
  margin-top: 0;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.button {
  background-color: var(--primary);
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  width: 156px;
}
.button:hover {
  transform: scale(1.05);
  transition: 300ms;
}
